# Java / Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment files / secrets
.env
.env.*
application-local.properties
application-secret.properties

# Node / React later
node_modules/
build/
dist/

# Terraform later
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Misc
*.tmp

*:Zone.Identifier

